<div class="container mt-5">
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <div class="card text-bg-light">
        <div class="card-header">Edit your profile page design</div>
        <%= image_tag current_user.avatar, class: "d-block mx-auto my-3 col-3 rounded-circle" if current_user.avatar.attached? %>
        <div class="card-body">
          <%= simple_form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :avatar, required: false, label: false %>
              <%= f.input :username, wrapper: :input_group, placeholder: "Your username", label: false, class: "form-control mb-3 rounded-3", required: true, prepend: "@" %>
              <%= f.input :full_name, placeholder: "Your full name", label: false, class: "form-control mb-3", required: false, autofocus: true %>
              <%= f.text_area :description, placeholder: "About you", label: false, class:"form-control mb-3", required: false%>
              
            </div>
            <div class="form-actions d-grid">
              <%= f.button :submit, "Update", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-body-secondary mt-3">
          <%= link_to "Back", :back, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">Preview Area</div>
  </div>
</div>
