<div class="container d-flex flex-column justify-content-center mt-5">
  <%= image_tag "3500703.png", class: "my-3 img-fluid col-10 col-md-8 col-lg-4 mx-auto", height: "128" %>
  
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <%= image_tag "logo.png", class: "mx-auto d-block", height: "64" %>
      <h1 class="display-4 fw-normal text-body-emphasis">Welcome to gugel.my</h1>
      <p class="fs-5 text-body-secondary lead">gugel.my is a link-in-bio platform that allows any Malaysian creators to showcase their work and social media profiles in a single, easy-to-share link. </p>
    </div>
  </header>
  <div class="card text-bg-light my-3 mx-auto col-10 col-md-8 col-lg-4">
    <div class="card-header">Sign up</div>
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username, 
                      wrapper: :input_group, 
                      placeholder: "Your username", 
                      label: false, 
                      class: "form-control mb-3 rounded-3", 
                      required: true, 
                      autofocus: true,
                      prepend: "@" %>
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions d-grid">
          <%= f.button :submit, "Sign up", class: "btn btn-primary shadow" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-body-secondary">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <small class="text-muted text-center">(Pre-release v0.0.1)</small>
</div>

<%= render "/layouts/footer" %>

