<%# This is individual table row %>
<% dragActions = "dragstart->drag#dragStart 
                  dragover->drag#dragOver 
                  dragenter->drag#dragEnter 
                  drop->drag#drop 
                  dragend->drag#dragEnd"
   linkClass = "link-card-draggable overflow-visible draggable draggable-mobile " + link_class(link) %>
<%= content_tag(:div, class: linkClass, draggable: true, data: { 
  controller: "drag",
  action: dragActions,
  resource_id: link.id,
  url: "/drag/links",
  parent: parentID
}) do %>




  <button type="button" class="link-action-move hidable btn btn-light w-100 rounded-circle rounded-bottom-0 shadow draggable-hook"><i class="fa-solid fa-arrows-up-down-left-right"></i></button>
  
  <%= link_to edit_link_path(link), 
              class: "link-action-edit hidable btn btn-light w-100 rounded-circle rounded-top-0 shadow", 
              id: "update-link-#{link.id}", 
              data: { 
                turbo_frame: "modal",
                # parent_id: parentID 
              } do %>
    <i class="fa-solid fa-pen draggable-hook"></i>
  <% end %>


  <div class="card link-card text-decoration-none">
    <% if link_class(link) == "link-card-1x3" %>
      <%= image_tag('jalur_gemilang_FA_no_sig.jpg', class: 'card-img-top', loading: 'lazy', srcset: { 'jalur_gemilang_FA_no_sig.jpg' => '1x', 'jalur_gemilang_FA_no_sig@2x.jpg' => '2x' }) %>
    <% end %>
    <div class="link-icon">
      <i class="fa-<%= link.icon_style %> fa-<%= link.icon %> <%= "color--#{link.icon}" if link.social? %>"></i>
    </div>
    <div class="card-body py-0 link-url"><%= link.url %></div>
    <div class="card-body py-0 link-title"><%= link.title %></div>

    <div class="card-body link-cta">
      <%= link_to link_path(link), target: "_blank", class: "btn btn-primary rounded-pill" do %>
        Visit link
      <% end %>
    </div>
  </div>






  <% if false %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa-<%= link.icon_style %> fa-<%= link.icon %> mr-2 <%= "color--#{link.icon}" if link.social? %>"></i></li>
      <li class="list-group-item"><%= link.title %></li>
      <li class="list-group-item"><%= link.url %></li>
      <li class="list-group-item"><%= link.impressionist_count %> <span class="d-lg-none">clicks</span></li>
    </ul>
  <% end %>
<% end %>

