<div class="btn-group w-100 d-flex" role="group">
  <div class="btn btn-lg btn-primary flex-shrink-1 col-2 text-center <%= "border--#{link.icon} bg--#{link.icon}" if link.social? %>"><i class="fa-<%= link.icon_style %> fa-<%= link.icon %> mr-2"></i></div>
  <div class="btn btn-lg btn-outline-primary bg-white w-100 text-start <%= "color--#{link.icon} border--#{link.icon}" if link.social? %>"><%= link.title %></div>
</div>