<div class="container my-5 pb-5 text-center">
  <div class="row g-5">
    <div class="col-12 offset-lg-3 col-lg-6">
      <%= image_tag user.avatar, class: "user-avatar object-fit-cover d-block mx-auto my-3 col-3 col-md-4 col-lg-3 rounded-circle" if user.avatar.attached? %>
      <h3><%= user.full_name.nil? ? user.email : user.full_name %></h3>
      <p class="lead mb-5">
        <%= user.description %>
      </p>
    </div>
    <div class="col-12">
      <div class="grid gap-2 mb-3">
        <% @social_links.each do |link| %>
          <%= link_to link_path(link), target: "_blank", class: "text-decoration-none" do %>
            <%= render "social_link_button", link: link %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% index = 0 # TODO: Iterate throuugh link groups %>
    <div class="col-12 offset-lg-3 col-lg-6">
      <h5><%= @group_name %></h5>
      <div id=<%= "links-container-" + index.to_s %>>
        <% @free_links.each do |link| %>
          <%= render "bento_link_button", link: link, parentID: "links-container-" + index.to_s %>
        <% end %>
      </div>
    </div>
  </div>
</div>