<div class="container my-5 text-center">
  <div class="row g-5">
    <div class="col-lg-6 mx-auto">
      <%= image_tag @user.avatar, class: "d-block mx-auto my-3 col-3 col-md-4 col-lg-2 rounded-circle" if @user.avatar.attached? %>
      <h3><%= @user.full_name.nil? ? @user.email : @user.full_name %></h3>
      <p class="lead">
        <%= @user.description %>
      </p>
      <div class="d-grid gap-2 mb-3">
        <div class="btn-group w-100 d-flex" role="group">
          <div class="btn btn-lg btn-primary flex-shrink-1 disabled"><i class="fa-brands fa-twitter mr-2"></i></div>
          <div class="btn btn-lg btn-outline-primary w-100 text-start disabled">@your_name</div>
        </div>
        <div class="btn-group w-100 d-flex" role="group">
          <div class="btn btn-lg btn-primary disabled flex-shrink-1"><i class="fa-brands fa-youtube mr-2"></i></div>
          <div class="btn btn-lg btn-outline-primary disabled w-100 text-start">@your_name</div>
        </div>
        <div class="btn-group w-100 d-flex" role="group">
          <div class="btn btn-lg btn-primary disabled flex-shrink-1"><i class="fa-brands fa-facebook mr-2"></i></div>
          <div class="btn btn-lg btn-outline-primary disabled w-100 text-start">@your_name</div>
        </div>
        <div class="btn-group w-100 d-flex" role="group">
          <div class="btn btn-lg btn-primary disabled flex-shrink-1"><i class="fa-brands fa-whatsapp mr-2"></i></div>
          <div class="btn btn-lg btn-outline-primary disabled w-100 text-start">@your_name</div>
        </div>
        <div class="btn-group w-100 d-flex" role="group">
          <div class="btn btn-lg btn-primary disabled flex-shrink-1"><i class="fa-brands fa-telegram mr-2"></i></div>
          <div class="btn btn-lg btn-outline-primary disabled w-100 text-start">@your_name</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <% @links.each do |link| %>
        <div class="d-grid gap-2 mb-3">
          <%= link_to link.url, target: "_blank", class: "text-decoration-none" do %>
            <div class="btn-group w-100 d-flex" role="group">
              <div class="btn btn-lg btn-primary flex-shrink-1"><i class="fa-<%= link.icon_style %> fa-<%= link.icon %> mr-2"></i></div>
              <div class="btn btn-lg btn-outline-primary w-100 text-start"><%= link.title %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container fixed-bottom text-center">
<%= link_to root_path, class: "btn btn-small btn-outline-secondary mb-2" do %>
Build your own bio with Ranting
<% end %>
</div>