<%# This is the individual link card %>

<%= link_to edit_link_path(link), 
            class: "text-decoration-none", 
            id: "update-link-#{link.id}", 
            data: { turbo_frame: "modal" } do %>
  <% unless link.empty? %>
    <ul class="list-group list-group-flush flex-row justify-content-between">
      <li class="list-group-item flex-fill"><i class="fa-<%= link.icon_style %> fa-<%= link.icon %> mr-2 <%= "color--#{link.icon}" if link.social? %>"></i> <%= link.title %></li>
      <li class="list-group-item"><%= link.impressionist_count %> <span class="d-lg-none">clicks</span></li>
    </ul>
  <% end %>
<% end %>
 