<% dragActions = "dragstart->drag#dragStart 
                    dragover->drag#dragOver 
                    dragenter->drag#dragEnter
                    drop->drag#drop
                    dragend->drag#dragEnd" %>

<%= content_tag(:div, class: "col-12 col-sm-6 draggable", draggable: true, data: { 
  controller: "drag",
  action: dragActions,
  resource_id: link.id,
  url: "/drag/links",
  parent: "links-container"
}) do %>
  <div class="card border-primary">
    <div class="card-header">
      <i class="bi bi-arrows-move draggable-hook"></i>
    </div>
    <%= simple_form_for(link, url: links_url(link)) do |f| %>
      <div class="card-body">
        <i class="bi bi-house-door-fill"></i>
        <%= f.input :title, placeholder: "Name your link", label: false, class:"form-control high-z" %>
        <div class="input-group flex-nowrap">
          <span class="input-group-text mb-3">https://</span>
          <%= f.input :url, placeholder: "www.site.com", input_html: { value: link.url.gsub(/https:\/\/|http:\/\//, "")}, label: false, class:"form-control rounded-start-0 high-z" %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.submit "Update Link", class:"btn btn-primary me-auto" %>
      </div>
    <% end %>
  </div>
<% end %>
