<%# This is the individual table row %>

<tr>
  <% if link.empty? %>
    <%# form to create link %>
    <td class="text-center flex-shrink-1"></td>
    <td class="flex-grow-1"></td>
    <td class="flex-grow-1"></td>
    <td></td>
  <% else %>
    <td class="text-center flex-shrink-1"><i class="fa-<%= link.icon_style %> fa-<%= link.icon %> mr-2 <%= "color--#{link.icon}" if link.social? %>"></i></td>
    <td class="flex-grow-1"><%= link.title %></td>
    <td class="flex-grow-1"><%= link.url %></td>
    <td><%= link.impressionist_count %></td>
  <% end %>
  <td class="text-end flex-shrink-1">
    <%= link_to edit_link_path(link), 
                class: "btn btn-outline-primary btn-sm shadow", 
                id: "update-link-#{link.id}", 
                data: { turbo_frame: "modal" } do %>
      <i class="bi bi-pencil-fill me-2"></i> Edit
    <% end %>
  </td>
  <td class="text-end flex-shrink-1">
    <%= button_to link_short_links_path(link), 
                class: "btn btn-outline-primary btn-sm shadow", 
                id: "update-link-#{link.id}" do %>
      <i class="bi bi-pencil-fill me-2"></i> Create Short Link
    <% end %>
  </td>
</tr>
 