<%# This is the individual table row %>
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" id="link_<%= link.id %>">
  <% if link.blank? %>
    <%# form to create link %>
    <td class="px-6 py-4 text-center"></td>
    <td class="px-6 py-4"></td>
    <td class="px-6 py-4"></td>
    <td class="px-6 py-4"></td>
  <% else %>
    <td class="px-6 py-4 text-center">
      <i class="fa-<%= link.icon_style %> fa-<%= link.icon %> <%= "text-#{link.icon}-500" if link.social? %>"></i>
    </td>
    <td class="px-6 py-4 font-medium text-gray-900 dark:text-white"><%= link.title %></td>
    <td class="px-6 py-4"><%= link.url %></td>
    <td class="px-6 py-4"><%= link.impressionist_count %></td>
  <% end %>
  <td class="px-6 py-4">
    <div class="flex space-x-2">
      <%= link_to edit_link_path(link), 
                  class: "text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800", 
                  id: "update-link-#{link.id}", 
                  data: { turbo_frame: "modal" } do %>
        <i class="fas fa-pencil mr-2"></i>Edit
      <% end %>
      
      <% unless link.social? %>
        <%= button_to link_short_links_path(link), 
                    class: "text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800", 
                    id: "update-link-#{link.id}" do %>
          <i class="fas fa-wand-magic-sparkles mr-2"></i>Create Short Link
        <% end %>
      <% end %>
    </div>
  </td>
</tr>