<%#
    This page should show all user's links by group. 
    Web view should show data table to focus on analytics. 
    Mobile view should be more compact. 
%>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Manage all your links</h1>
    </div>
  </div>
</div>
<% if mobile_device? %>
  <div class="container mt-5 border-3">
    <h5 class="text-center mb-3">Social Links</h5>
    <div id="mobileSocialContainer">
      <% @social_links.each do |link| %>
        <%= render "links/draggable_mobile", link: link, parentID: "mobileSocialContainer" %>
      <% end %>
    </div>
  </div>
  <div class="container mt-5">
    <h5 class="text-center mb-3"><%= @group_name %></h5>
    <div id="mobileLinksContainer">
      <% @free_links.each do |link| %>
        <%= render "links/draggable_mobile", link: link, parentID: "mobileLinksContainer" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <h5>Social Links</h5>
    <div class="card table-responsive">
      <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">Icon</th>
            <th scope="col">Link Title</th>
            <th scope="col">URL</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="socialContainer">
          <% @social_links.each do |link| %>
            <%= render "links/draggable", link: link, parentID: "socialContainer" %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-5">
    <h5><%= @group_name %></h5>
    <div class="card table-responsive">
      <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">Icon</th>
            <th scope="col">Link Title</th>
            <th scope="col">URL</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="linksContainer">
          <% @free_links.each do |link| %>
          <%= render "links/draggable", link: link, parentID: "linksContainer" %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<script>
  let hideHidables = true
  let toggleHidables = () => {
    let hidables = document.querySelectorAll(".hidable")
    hidables.forEach( (btn) => {
      if(hideHidables) {
        btn.style.display = 'block';
        document.getElementById("editLinksButton").innerHTML = "Finish Edit";
      } else {
        btn.style.display = 'none';
        document.getElementById("editLinksButton").innerHTML = "Edit Links";
      }
    })
    hideHidables = !hideHidables;
  }
</script>