<%#
    This page should show all user's links by group. 
    Links are sorted by view count. 
    Web view should show data table to focus on analytics. 
    Mobile view should be more compact. 
%>

<%= render partial: "users/profile_statistics" %>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Manage your links</h1>
    </div>
  </div>
</div>
<% if mobile_device? %>
  <div class="container mt-5 border-3">
    <h5 class="text-center mb-3">Social Links</h5>
    <div id="mobileSocialContainer" class="card col-12">
      <ul class="list-group list-group-flush">
        <% @social_links.each do |link| %>
          <%= render "links/table_row_mobile", link: link, parentID: "mobileSocialContainer" %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container mt-5">
    <h5 class="text-center mb-3"><%= @group_name %></h5>
    <div id="mobileLinksContainer" class="card col-12">
      <ul class="list-group list-group-flush">
        <% @free_links.each do |link| %>
          <%= render "links/table_row_mobile", link: link, parentID: "mobileLinksContainer" %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container mt-5">
    <div class="alert alert-info" role="alert">
      <i class="fas fa-lightbulb me-2"></i>Pro tip: View this page from your computer to access more features!
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <h5>Social Links</h5>
    <div class="card table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="text-center">Icon</th>
            <th scope="col">Link Title</th>
            <th scope="col" class="flex-grow-1">URL</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="socialContainer">
          <% @social_links.each do |link| %>
            <%= render "links/table_row", link: link, parentID: "socialContainer" %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container my-5">
    <h5><%= @group_name %></h5>
    <div class="card table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="text-center">Icon</th>
            <th scope="col">Link Title</th>
            <th scope="col" class="flex-grow-1">URL</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="linksContainer">
          <% @free_links.each do |link| %>
            <%= render "links/table_row", link: link, parentID: "linksContainer" %>
            <% unless link.short_links.empty? %>
              <tr class="">
                <td colspan="2"></td>
                <td class="pt-0 text-secondary" scope="col" colspan="3">
                  <small>Short links:</small>
                </td>
              </tr>
              <% link.short_links.each do |short_link| %>
                <tr class="">
                  <td colspan="2"></td>
                  <td class="">
                    <%= link_to "https://gugel.my/r/#{short_link.url_token}" do %>
                      https://gugel.my/r/<%= short_link.url_token %><br />
                    <% end %>
                  </td>
                  <td><%= link.impressionist_count %></td>
                  <td></td>
                </tr> 
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="alert alert-info" role="alert">
    <i class="fas fa-lightbulb me-2"></i>Pro tip: Links with empty URL field will be hidden on your profile page.
  </div>
</div>
