<%#
    This page should show all user's links by group. 
    Links are sorted by view count. 
    Web view should show data table to focus on analytics. 
    Mobile view should be more compact. 
%>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Link dashboard</h1>
    </div>
  </div>
</div>
<% if mobile_device? %>
  <div class="container mt-5 border-3">
    <h5 class="text-center mb-3">Social Links</h5>
    <div id="mobileSocialContainer" class="card col-12">
      <ul class="list-group list-group-flush">
        <% @social_links.each do |link| %>
          <%= render "links/table_row_mobile", link: link, parentID: "mobileSocialContainer" %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container mt-5">
    <h5 class="text-center mb-3"><%= @group_name %></h5>
    <div id="mobileLinksContainer" class="card col-12">
      <ul class="list-group list-group-flush">
        <% @free_links.each do |link| %>
          <%= render "links/table_row_mobile", link: link, parentID: "mobileLinksContainer" %>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <h5>Social Links</h5>
    <div class="card table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="text-center">Icon</th>
            <th scope="col">Link Title</th>
            <th scope="col">URL</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="socialContainer">
          <% @social_links.each do |link| %>
            <%= render "links/table_row", link: link, parentID: "socialContainer" %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-5">
    <h5><%= @group_name %></h5>
    <div class="card table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="text-center">Icon</th>
            <th scope="col">Link Title</th>
            <th scope="col">URL</th>
            <th scope="col">Clicks</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="linksContainer">
          <% @free_links.each do |link| %>
          <%= render "links/table_row", link: link, parentID: "linksContainer" %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
