<div class="container my-5 text-center">
  <div class="row g-3">
    <div class="col-lg-6 mx-auto">
      <%= image_tag @user.avatar, class: "d-block mx-auto my-3 col-3 col-md-4 col-lg-2 rounded-circle" if @user.avatar.attached? %>
      <h3><%= @user.full_name.nil? ? @user.email : @user.full_name %></h3>
      <p class="lead">
        <%= @user.description %>
      </p>
      <p>
        <%= link_to "#" do %><i class="bi bi-twitter me-2 link-underline link-underline-opacity-0 text-info"></i><% end %>
        <%= link_to "#" do %><i class="bi bi-youtube me-2 link-underline link-underline-opacity-0 text-danger"></i><% end %>
        <%= link_to "#" do %><i class="bi bi-facebook me-2 link-underline link-underline-opacity-0"></i><% end %>
        <%= link_to "#" do %><i class="bi bi-whatsapp me-2 link-underline link-underline-opacity-0 text-success"></i><% end %>
        <%= link_to "#" do %><i class="bi bi-telegram me-2 link-underline link-underline-opacity-0"></i><% end %>
      </p>
    </div>
    <div class="col-lg-6">

      <div class="row g-3">
        <% @links.each do |link| %>
          <div class="col-12 col-md-6">
            <div class="card border-primary">
              <%= link_to link.url, target: "_blank", class:"card-body d-flex flex-row align-items-center text-decoration-none" do %>
                <i class="bi bi-house-door-fill me-2"></i>
                <h5 class="card-title mb-0"><%= link.title %></h5>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container fixed-bottom text-center">
<%= link_to root_path, class: "btn btn-small btn-outline-primary mb-2" do %>
Build your own bio with Ranting
<% end %>
</div>