<div class="container mb-5">
  <header class="text-center py-5 bg-white rounded-5 shadow-lg">
    <div class="px-3 py-md-5 pb-md-4 mx-auto">
      <%= image_tag "illustrations/Users-Network.png", class: "img-fluid mb-3" %>
      <h1 class="display-4 fw-normal text-body-emphasis text-center">Empowering Local Connections<br />in the Digital Sphere</h1>
      <p class="fs-5 text-body-secondary lead text-center">Seamlessly connect through personalized links page, link shortener, and QR codes.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to new_user_registration_path, class: "btn btn-lg btn-light btn-outline-primary px-4 shadow" do %>
          <i class="fas fa-id-badge me-2"></i>Create your link page
        <% end %>
        <%= link_to new_short_link_path, class: "btn btn-lg btn-light btn-outline-warning px-4 shadow" do %>
          <i class="fas fa-paperclip me-2"></i>Create a short link
        <% end %>
        <%= link_to new_qr_code_path, class: "btn btn-lg btn-light btn-outline-success px-4 shadow" do %>
          <i class="fas fa-qrcode me-2"></i>Create a QR code
        <% end %>
      </div>
    </div>
  </header>
</div>
<div class="container d-none d-md-block">
  <div class="d-flex mb-3 gap-2 gap-md-5">
    <button type="button" data-bs-target="#useCaseCarousel" data-bs-slide-to="0" class="card text-start flex-fill shadow-lg rounded-5" aria-current="true" aria-label="Use case 1">
      <div class="card-body text-center w-100 pb-0">
        <%= image_tag "use_cases/Advertising-5.png", class: "img-fluid rounded-4" %>
      </div>
      <div class="card-body text-center w-100">
        <h3 class="card-title">For You</h3>
        <p>Create and personalize your very own links page.</p>
      </div>
    </button>
    <button type="button" data-bs-target="#useCaseCarousel" data-bs-slide-to="1" class="card text-start flex-fill shadow-lg rounded-5" aria-label="Use case 2">
      <div class="card-body text-center w-100 pb-0">
        <%= image_tag "use_cases/Diverse-Team-1.png", class: "img-fluid rounded-4" %>
      </div>
      <div class="card-body text-center w-100">
        <h3 class="card-title">For Network</h3>
        <p>One stop center for all your fan's needs.</p>
      </div>
    </button>
    <button type="button" data-bs-target="#useCaseCarousel" data-bs-slide-to="2" class="card text-start flex-fill shadow-lg rounded-5" aria-label="Use case 3">
      <div class="card-body text-center w-100 pb-0">
        <%= image_tag "use_cases/STARTUP-2.png", class: "img-fluid rounded-4" %>
      </div>
      <div class="card-body text-center w-100">
        <h3 class="card-title">For Work</h3>
        <p>Optimize your work with our range of tools.</p>
      </div>
    </button>
  </div>
</div>

<div class="container-fluid d-md-none bg-primary">
  <div id="useCaseCarousel" class="carousel slide rounded-3 overflow-hidden">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#useCaseCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#useCaseCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#useCaseCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active justify-content-center">
        <%= image_tag "use_cases/Advertising-5.png", class: "d-block w-100" %>
        <div class="carousel-caption">
          <h5>For you</h5>
          <p>Create and personalize your very own links page.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "use_cases/Diverse-Team-1.png", class: "d-block w-100" %>
        <div class="carousel-caption">
          <h5>For your fans</h5>
          <p>One stop center for all your fan's needs.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "use_cases/STARTUP-2.png", class: "d-block w-100" %>
        <div class="carousel-caption">
          <h5>For your work</h5>
          <p>Optimize your work with our range of tools.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#useCaseCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#useCaseCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container pb-4 d-none">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">All your content integrated into your personal page.</h1>
      <div class="row">
        <div class="col-6">
          <%= image_tag "use_cases/Social_Media_Influencer.png", class: "img-fluid rounded-4" %>
        </div>
        <div class="col-6">
          <%= image_tag "use_cases/Medical.png", class: "img-fluid rounded-4" %>
        </div>
      </div>
      <p class="col-md-8 fs-4">No more hiding your content behind links.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="h-100 p-5 bg-white text-center border rounded-3">
        <h2>Your unique link name.</h2>
        <p>And btw, the good ones are still available!</p>
        <form class="row">
          <div class="input-group col-4 mx-auto">
            <span class="input-group-text border-primary">gugel.my/</span>
            <input type="text" class="form-control border-start-0 flex-fill border-primary" placeholder="your username" aria-label="your username" aria-describedby="button-get-link">
            <button class="btn btn-primary" type="button" id="button-get-link">Get my link</button>
          </div>
        </form>
        <%= image_tag "use_cases/Thumb-Up-1.png", class: "img-fluid" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-white text-center border rounded-3">
        <%= image_tag "illustrations/STARTUP-4.png", class: "img-fluid" %>
        <h2>100% free for 30 days.</h2>
        <p>No credit card required.</p>
        <button class="btn btn-outline-secondary" type="button">Become a member now</button>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="px-3 py-5 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis text-center">Answers to Common Queries</h1>
    <p class="fs-5 text-body-secondary lead text-center">Got questions? We've got answers! Dive into our FAQ section below for quick solutions and friendly guidance.</p>
  </div>
</div>
<%= render "/static/faq" %>
<%= render "/layouts/footer" %>
