<div class="container py-3">
  <header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
      <p class="fs-5 text-body-secondary">You pay for the rights to the username! </p>
      
      <p class="fs-5 text-body-secondary">Every new registration comes with free 30 days of use, of which before the 30 days ends, you are required to select a pricing model that suits you to secure the username for yourself.</p>
      <p class="fs-5 text-body-secondary">Don't want to pay? Just re-register your account after the 30 days has expired! 👌</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm mt-lg-5">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Basic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">RM2.50<small class="text-body-secondary fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Secure your username!</li>
              <li>Popular social media links</li>
              <li>5 external links</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary shadow">Reserve your username</button>
          </div>
          <div class="card-footer text-body-secondary">
            <small class="card-title text-muted">Expected launch price RM4<small class="fw-light">/year</small></small>
          </div>
        </div>
      </div>
      <div class="col">




        <div class="card mb-4 rounded-3 shadow-sm border-primary">




          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Supporter 🫰</h4>
          </div>


<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <p class="mt-3">Support yearly for only</p>
        <h1 class="card-title pricing-card-title">RM14.40<small class="text-body-secondary fw-light">/year</small></h1>
        <small class="card-title text-muted">Equivalant to RM1.20<small class="fw-light">/month</small> for 12 months</small>
        <p class="mt-3">or support monthly for only</p>
        <h1 class="card-title pricing-card-title">RM2.50<small class="text-body-secondary fw-light">/month</small></h1>
        <small class="card-title text-muted">Difference of RM1.30<small class="fw-light">/month</small> compared to yearly</small>
    </li>
  </ul>


          <div class="card-body">



            
            <ul class="list-unstyled mt-3 mb-4">
              <li>Basic tier features plus...</li>
              <li>Unlimited external links!</li>
              <li>Early access to new features</li>
              <li>Email support & help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary shadow">Become a supporter</button>
          </div>
          <div class="card-footer text-body-secondary border-primary bg-primary bg-opacity-10">
            <small class="card-title text-muted">Expected launch price RM48<small class="fw-light">/year</small> or RM4<small class="fw-light">/month</small></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm mt-lg-5">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Business</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">RM29<small class="text-body-secondary fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>Basic & Supporter tier features plus...</li>
              <li>Analytic dashboard</li>
              <li>Support for custom integrations</li>
              <li>Priority support</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary shadow">Expand your business</button>
          </div>
          <div class="card-footer text-body-secondary">
            <small class="card-title text-muted">Expected launch price RM48<small class="fw-light">/year</small></small>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Compare plans</h2>

    <div class="table-responsive">
      <table class="table table-striped-columns table-hover text-center">
        <caption><small class="text-muted"><em>* Terms & conditions apply. Read more <u>here</u></em></small></caption>
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Basic</th>
            <th style="width: 22%;">Supporter</th>
            <th style="width: 22%;">Business</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <th scope="row" class="text-start">Profile Page</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-start">
              Your personal profile page at<br />
              <small>ranting.my/</small><strong class="text-primary">your_username</strong> ✨
            </td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Popular social media links</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Standard 5 external links<br />(30 days trial)</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Additional <strong class="text-primary">UNLIMITED</strong> external links</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Personal branding</td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Manage multiple accounts</td>
            <td></td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="table-primary">
            <th scope="row" class="text-start">Future New Features</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-start">New feature request</td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Access to pre-release features</td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="table-primary">
            <th scope="row" class="text-start">Analytic Dashboard</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-start">Visitor count</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Clicks per link</td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="table-primary">
            <th scope="row" class="text-start">Customer Support</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-start">Access to Help Center</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Email support</td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Priority support</td>
            <td></td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Support for custom integrations</td>
            <td></td>
            <td></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="table-primary">
            <th scope="row" class="text-start">Pricing</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-start">Price</td>
            <td>RM4<small class="text-body-secondary fw-light">/year</small></td>
            <td>RM4<small class="text-body-secondary fw-light">/month</small></td>
            <td>RM48<small class="text-body-secondary fw-light">/year</small></td>
          </tr>
          <tr>
            <td class="text-start">Upgrade & downgrade plans anytime</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
          <tr>
            <td class="text-start">Cancel anytime</td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
            <td><%= bootstrap_icon "check", width: 24, height: 24, fill: "green" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>