<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-md mx-auto mb-8 lg:mb-16 text-center">
      <%= image_tag "illustrations/Rest-1.png", class: "mx-auto mb-4 max-w-lg h-auto" %>
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Use Cases
      </h1>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        What's in it for you? Explore use cases below on how you can utilise Gugel in your everyday life.
      </p>
    </div>

    <!-- Personal Space Section -->
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0 mb-16">
      <div class="text-center">
        <%= image_tag "illustrations/Profile-2-nobg.png", class: "mx-auto mb-4 max-w-lg h-auto" %>
        <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">
          gugel.my/<span class="text-primary-600">yourname</span>✨
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          Unlock the gateway to your diverse online universe with our link-in-bio platform, empowering you to effortlessly share all facets of your digital presence from this singular, customizable hub.
        </p>
        <%= link_to new_user_registration_path, class: "inline-flex items-center px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900" do %>
          <i class="fas fa-rocket mr-2"></i>Ready to start already?
        <% end %>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- Dynamic Profile Hub -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-id-badge text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Dynamic Profile Hub
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            A link-in-bio tool can serve as a dynamic hub for your online presence, functioning as a personal website. You can include links to your portfolio, blog, social media profiles, contact information, and more.
          </p>
        </div>

        <!-- Event Promotion -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-calendar-day text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Event Promotion
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Promote upcoming events, workshops, or webinars by including links to registration pages, event details, and promotional materials on your link page.
          </p>
        </div>

        <!-- Content Showcase -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-highlighter text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Content Showcase
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Whether you're a blogger, artist, photographer, or content creator, showcase your work with links to your latest blog posts, portfolio pieces, videos, or other content.
          </p>
        </div>

        <!-- Online Resume/CV -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-file-lines text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Online Resume/CV
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Create a dynamic online resume or CV with links to your professional experience, education, skills, projects, and references in a visually appealing format.
          </p>
        </div>
      </div>
    </div>

    <!-- Digital Reach Section -->
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">
      <div class="text-center">
        <%= image_tag "illustrations/STARTUP-8-nobg.png", class: "mx-auto mb-4 max-w-lg h-auto" %>
        <h2 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">
          Manage all your links in one place.
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          You not only centralize your online presence but also provide your audience with a seamless navigation experience, ensuring they can easily access all your important content and resources without any hassle or confusion.
        </p>
        <%= link_to new_user_registration_path, class: "inline-flex items-center px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900" do %>
          <i class="fas fa-id-badge mr-2"></i>See some examples here
        <% end %>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- Content Promotion -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-bullhorn text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Content Promotion
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Drive traffic and engagement to your content from various social media channels by including links to recent blog posts, videos, podcasts, or other creations.
          </p>
        </div>

        <!-- Product and Service Promotion -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-bell-concierge text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Product and Service Promotion
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Showcase your offerings and drive sales with links to product pages, online stores, promotional offers, customer testimonials, and contact forms.
          </p>
        </div>

        <!-- Event Promotion and Ticket Sales -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-ticket text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Event Promotion and Ticket Sales
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Promote upcoming events, workshops, or webinars by including links to registration pages, event details, and promotional materials on your link page.
          </p>
        </div>

        <!-- Social Media Optimization -->
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="w-10 h-10 mb-2 text-primary-600 dark:text-primary-500">
            <i class="fas fa-thumbs-up text-2xl"></i>
          </div>
          <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Social Media Optimization
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Optimize your social media profiles by creating a curated landing page with multiple links to various online destinations, such as your website, blog, online store, social media profiles, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "/layouts/footer" %>
