<div class="container mb-5">
  <header class="text-center py-5 bg-white rounded-5 shadow-lg">
    <div class="px-3 py-5 pb-md-4 mx-auto">
      <%= image_tag "illustrations/Leader-nobg.png", class: "img-fluid mb-3" %>
      <h1 class="display-4 fw-normal text-body-emphasis text-center text-warning">Shorten a Link</h1>
      <p class="fs-5 text-body-secondary lead text-center">Free by default.</p>
      
      <%= turbo_frame_tag "shorten_link_container" do %>
        <%= simple_form_for @short_link do |f| %>
          <div class="mb-3">
            <%= text_field_tag :url, nil, label: false, autofocus: true, class:"form-control rounded high-z text-center" %>
            <div id="longUrlHelp" class="form-text text-center d-flex justify-content-between flex-nowrap px-5">
              <div class="overflow-hidden d-inline-block flex-fill text-nowrap">Paste your looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</div><div class="d-inline-block flex-fill text-nowrap">ooooooong URL here<i class="fas fa-hand-point-up ms-2"></i></div></div>

            <div class="mx-auto">
              <% if @show_checkbox_recaptcha %>
                <%= recaptcha_tags %>
              <% else %>
                <%= recaptcha_v3(action: 'free_shortlinks', site_key: ENV['RECAPTCHA_SITE_KEY']) %>
              <% end %>
            </div>
          </div>
          <%= f.submit "Shorten Link", class:"btn btn-warning mx-auto shadow" %>
        <% end %>
      <% end %>
    </div>
  </header>
</div>

<%= render "layouts/footer" %>
