<div class="container mt-5">
  <footer class="pt-5 border-top border-primary">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><%= link_to "Home", root_path, class: "nav-link p-0 text-body-secondary" %></li>
          <li class="nav-item mb-2"><%= link_to "Use Cases", usecases_path, class: "nav-link p-0 text-body-secondary" %></li>
          <li class="nav-item mb-2"><%= link_to "Membership", membership_path, class: "nav-link p-0 text-body-secondary" %></li>
          <li class="nav-item mb-2"><%= link_to "About", about_path, class: "nav-link p-0 text-body-secondary" %></li>
          <li class="nav-item mb-2"><%= link_to "FAQ", faq_path, class: "nav-link p-0 text-body-secondary" %></li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div class="col-6 col-md-4 mb-3">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><%= link_to "Links", links_path, class: "nav-link p-0 text-body-secondary" %></li>
            <li class="nav-item mb-2"><%= link_to "Layout", edit_user_path(current_user), class: "nav-link p-0 text-body-secondary" %></li>
            <li class="nav-item mb-2"><%= link_to "Account Settings", edit_user_registration_path, class: "nav-link p-0 text-body-secondary" %></li>
            <li class="nav-item mb-2"><%= link_to "View your page", user_path(current_user.slug), class: "nav-link p-0 text-body-secondary" %></li>
            <li class="nav-item mb-2"><%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link p-0 text-body-secondary" %></li>
          </ul>
        </div>
      <% end %>
      <% if !user_signed_in? %>
        <div class="col-6 col-md-4 mb-3">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><%= link_to "Log in", new_user_session_path, class: "nav-link p-0 text-body-secondary" %></li>
            <li class="nav-item mb-2"><%= link_to "Sign up", new_user_registration_path, class: "nav-link p-0 text-body-secondary" %></li>
          </ul>
        </div>
      <% end %>
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Want to know when we officially launch?</h5>
          <p>Enter your email address below and we'll include you in our launching announcement mailing list! We will discard the mailing list after that :)</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Loop me in!</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
      <p>© <%= Time.zone.now.year %> gugel.my is a trademark of Nasi Forge. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</div>