<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid">
    <%= link_to links_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", height: "24", class: "me-1 d-inline-block align-text-top" %>
      Ranting
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto my-1 mb-lg-0 d-none d-lg-flex">
        <li class="nav-item me-2">
          <%= link_to links_path, class: "btn btn-outline-secondary border-0" do %>
            <i class="bi bi-signpost-split me-2"></i>Links
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary border-0" do %>
            <i class="bi bi-person-badge me-2"></i>Profile Page
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav me-auto my-1 mb-lg-0 d-block d-lg-none">
				<% if @hacker_variables %>
          <li class="nav-item d-flex flex-col gap-3 m-3">
            <div class="input-group">
              <span class="input-group-text bg-secondary-subtle" id="basic-addon1">
                <i class="bi bi-people-fill text-secondary"></i>
              </span>
              <input type="text" class="form-control" placeholder=<%= @hacker_variables[0] %> aria-label="Input group example" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group">
              <span class="input-group-text bg-secondary-subtle" id="basic-addon1">
                <i class="bi bi-signpost-split-fill text-secondary"></i>
              </span>
              <input type="text" class="form-control" placeholder=<%= @hacker_variables[1] %> aria-label="Input group example" aria-describedby="basic-addon1" disabled>
            </div>
          </li>
				<% end %>
        <li class="nav-item">
          <%= link_to links_path, class: "btn btn-light d-block mb-1 shadow" do %>
            <i class="bi bi-signpost-split me-2"></i>Links
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to edit_user_path(current_user), class: "btn btn-light d-block mb-1 shadow" do %>
            <i class="bi bi-person-badge me-2"></i>Profile Page
          <% end %>
        </li>
        <hr class="border-light"/>
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: "btn btn-light d-block mb-1 shadow" do %>
            <i class="bi bi-gear-wide-connected me-2"></i>Account Settings
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user.slug), target: "_blank", class: "btn btn-light d-block shadow" do %>
            <i class="bi bi-rocket-takeoff me-2 "></i>View My Profile Page
          <% end %>
        </li>
        <hr class="border-light"/>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'}, class: "btn btn-light d-block shadow" do %>
            <i class="bi bi-door-open me-2"></i>Logout
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-block">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="me-2"><%= current_user.username %></span>
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "navbar-avatar rounded-circle" %>
            <% else %>
              <i class="bi bi-person-circle navbar-brand"></i>
            <% end %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="bi bi-gear-wide-connected me-2"></i>Account Settings
              <% end %>
            </li>
            <li><%= link_to  user_path(current_user.slug), target: "_blank", class: "dropdown-item" do %>
                <i class="bi bi-rocket-takeoff me-2"></i>View My Profile Page
            <% end %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'}, class: "dropdown-item" do %>
                <i class="bi bi-door-open me-2"></i>Logout
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>