<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <strong><span class="text-primary">G</span><span class="text-danger">u</span><span class="text-warning">g</span><span class="text-success">e</span><span class="text-primary">l</span><span class="text-success">.</span><span class="text-warning">m</span><span class="text-danger">y</span></strong>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Use Cases", usecases_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pricing", pricing_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>
      <% unless user_signed_in? %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="me-lg-2 mb-3 mb-lg-0">
            <%= link_to new_short_link_path, class: "btn btn-warning navbar-btn shadow w-100" do %>
              <i class="fas fa-wand-magic-sparkles me-2"></i>Shorten a Link
            <% end %>
          </li>
          <li class="me-lg-2 mb-3 mb-lg-0">
            <%= link_to new_short_link_path, class: "btn btn-success navbar-btn shadow w-100" do %>
              <i class="fas fa-qrcode me-2"></i>Create a QR Code
            <% end %>
          </li>
          <li>
            <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary navbar-btn shadow w-100" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>