<!DOCTYPE html>
<html lang="en-gb" data-bs-theme="light">
  <head>
    <title>sini.la</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "bg-light bg-opacity-70" unless @inject_background_color %> pb-3" style="<%= @inject_background_color %>">
    <%= render partial: "layouts/navbar" if @should_render_navbar %>
    <%= render partial: "layouts/navbar_public" if @should_render_navbar_public %>
    <%= render partial: "layouts/alerts" %>
    <%= yield %>
    
    <div class="modal fade" 
         tabindex="-1"
         data-controller="modal"
         data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>
    
  </body>
</html>
