<!DOCTYPE html>
<html lang="en-gb" class="dark">
  <head>
    <title>gugel.my</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "bg-gray-50 dark:bg-gray-900" unless @inject_background_color %>" style="<%= @inject_background_color %>">
    <%= render partial: "layouts/navbar" if @should_render_navbar %>
    <%= render partial: "layouts/navbar_public" if @should_render_navbar_public %>
    <%= render partial: "layouts/alerts" %>
    <%= yield %>
    
    <!-- Modal -->
    <div id="default-modal" 
         tabindex="-1" 
         aria-hidden="true" 
         class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
         data-controller="modal"
         data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "after_page_load" %>
  </body>
</html>
